LOGIN_ACCOUNT=[["USERNAME1","PASSWORD1"],["USERNAME2","PASSWORD2"]]
SECRET_KEY=InfiniteProgress
DB_HOST=your_database_host
DB_RW_UN=your_database_username
DB_RW_PW=your_database_password
DB_NAME=your_database_name
URL_FRONTEND=http://localhost:60050
PORT_BACKEND=60051